window-rule {
    geometry-corner-radius 20 // Set every window radius to 20
    clip-to-geometry true
}

// if you use steam you will probably like these
window-rule {
    match app-id="steam"
    exclude title=r#"^[Ss]team$"#
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

// Floating Noctalia settings window
window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

layer-rule {
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}

window-rule {
    match app-id="org.gnome.Nautilus"
    match app-id="moe.launcher.an-anime-game-launcher"
    match app-id="org.gnome.baobab"
    match app-id="org.gnome.FileRoller"
    match app-id="org.gnome.Calculator"
    match app-id="io.missioncenter.MissionCenter"
    match app-id="io.github.ilya_zlobintsev.LACT"
    match app-id="org.nicotine_plus.Nicotine"
    match app-id="com.vysp3r.ProtonPlus"
    match app-id=".virt-manager-wrapped"
    match app-id="veracrypt"
    match app-id="org.pulseaudio.pavucontrol"
    draw-border-with-background false
    opacity 0.95
}

window-rule {
    match app-id="dev.zed.Zed"
    draw-border-with-background false
    opacity 0.9
}
